# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
MoreSimpleExamples/.idea/copilot.data.migration.agent.xml
MoreSimpleExamples/.idea/copilot.data.migration.edit.xml
MoreSimpleExamples/.idea/inspectionProfiles/profiles_settings.xml
MoreSimpleExamples/.idea/misc.xml
MoreSimpleExamples/.idea/modules.xml
MoreSimpleExamples/.idea/MoreSimpleExamples.iml
MoreSimpleExamples/.idea/vcs.xml
/.metadata/
tempdemo/.classpath
tempdemo/.metadata/.lock
tempdemo/.metadata/.lock_info
tempdemo/.metadata/.mylyn/repositories.xml.zip
tempdemo/.metadata/.plugins/org.eclipse.buildship.core/gradle/versions.json
tempdemo/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
tempdemo/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
tempdemo/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
tempdemo/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
tempdemo/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
tempdemo/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/Docker.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.apt.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.boot.dash.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
tempdemo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
tempdemo/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
tempdemo/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
tempdemo/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
tempdemo/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
tempdemo/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
tempdemo/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
tempdemo/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
tempdemo/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
tempdemo/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
tempdemo/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
tempdemo/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
tempdemo/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
tempdemo/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
tempdemo/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.7.101.20251017-1242.xml
tempdemo/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
tempdemo/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
tempdemo/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
tempdemo/.metadata/version.ini
IcebergDemo/.idea/IcebergDemo.iml
IcebergDemo/.idea/inspectionProfiles/profiles_settings.xml
IcebergDemo/.idea/inspectionProfiles/Project_Default.xml
IcebergDemo/.idea/misc.xml
IcebergDemo/.idea/modules.xml
IcebergDemo/.idea/vcs.xml
PySparkStreams/src/chk-point-dir-trades/.metadata.crc
PySparkStreams/src/chk-point-dir-trades/commits/.0.crc
PySparkStreams/src/chk-point-dir-trades/commits/.1.crc
PySparkStreams/src/chk-point-dir-trades/commits/.2.crc
PySparkStreams/src/chk-point-dir-trades/commits/.3.crc
PySparkStreams/src/chk-point-dir-trades/commits/.4.crc
PySparkStreams/src/chk-point-dir-trades/commits/.5.crc
PySparkStreams/src/chk-point-dir-trades/commits/.6.crc
PySparkStreams/src/chk-point-dir-trades/commits/.7.crc
PySparkStreams/src/chk-point-dir-trades/commits/0
PySparkStreams/src/chk-point-dir-trades/commits/1
PySparkStreams/src/chk-point-dir-trades/commits/2
PySparkStreams/src/chk-point-dir-trades/commits/3
PySparkStreams/src/chk-point-dir-trades/commits/4
PySparkStreams/src/chk-point-dir-trades/commits/5
PySparkStreams/src/chk-point-dir-trades/commits/6
PySparkStreams/src/chk-point-dir-trades/commits/7
PySparkStreams/src/chk-point-dir-trades/metadata
PySparkStreams/src/chk-point-dir-trades/offsets/.0.crc
PySparkStreams/src/chk-point-dir-trades/offsets/.1.crc
PySparkStreams/src/chk-point-dir-trades/offsets/.2.crc
PySparkStreams/src/chk-point-dir-trades/offsets/.3.crc
PySparkStreams/src/chk-point-dir-trades/offsets/.4.crc
PySparkStreams/src/chk-point-dir-trades/offsets/.5.crc
PySparkStreams/src/chk-point-dir-trades/offsets/.6.crc
PySparkStreams/src/chk-point-dir-trades/offsets/.7.crc
PySparkStreams/src/chk-point-dir-trades/offsets/0
PySparkStreams/src/chk-point-dir-trades/offsets/1
PySparkStreams/src/chk-point-dir-trades/offsets/2
PySparkStreams/src/chk-point-dir-trades/offsets/3
PySparkStreams/src/chk-point-dir-trades/offsets/4
PySparkStreams/src/chk-point-dir-trades/offsets/5
PySparkStreams/src/chk-point-dir-trades/offsets/6
PySparkStreams/src/chk-point-dir-trades/offsets/7
PySparkStreams/src/chk-point-dir-trades/sources/0/.0.crc
PySparkStreams/src/chk-point-dir-trades/sources/0/0
PySparkStreams/src/chk-point-dir-trades/state/0/0/.1.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/.2.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/.3.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/.4.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/.5.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/.6.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/.7.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/.8.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/1.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/2.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/3.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/4.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/5.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/6.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/7.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/8.delta
PySparkStreams/src/chk-point-dir-trades/state/0/0/_metadata/.schema.crc
PySparkStreams/src/chk-point-dir-trades/state/0/0/_metadata/schema
PySparkStreams/src/chk-point-dir-trades/state/0/1/.1.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/.2.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/.3.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/.4.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/.5.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/.6.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/.7.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/.8.delta.crc
PySparkStreams/src/chk-point-dir-trades/state/0/1/1.delta
PySparkStreams/src/chk-point-dir-trades/state/0/1/2.delta
PySparkStreams/src/chk-point-dir-trades/state/0/1/3.delta
PySparkStreams/src/chk-point-dir-trades/state/0/1/4.delta
PySparkStreams/src/chk-point-dir-trades/state/0/1/5.delta
PySparkStreams/src/chk-point-dir-trades/state/0/1/6.delta
PySparkStreams/src/chk-point-dir-trades/state/0/1/7.delta
PySparkStreams/src/chk-point-dir-trades/state/0/1/8.delta
